<?xml version="1.0" encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="DataFeedWatch\Connector\Api\ConnectorInterface"
                type="DataFeedWatch\Connector\Model\Connector" />
    <type name="Magento\Config\Model\Config">
        <plugin name="DataFeedWatchConnectorConfigPlugin" type="\DataFeedWatch\Connector\Plugin\ConfigPlugin" />
    </type>
    <type name="Magento\Catalog\Model\Category">
        <plugin name="DataFeedWatchConnectorCategoryTreePlugin"
                type="\DataFeedWatch\Connector\Plugin\CategoryTreePlugin" />
    </type>
</config>
