<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="DataFeedWatch_Connector::config" title="DataFeedWatch" module="DataFeedWatch_Connector" sortOrder="100"
             parent="Magento_Backend::stores_settings"
             action="adminhtml/system_config/edit/section/datafeedwatch_connector"
             resource="DataFeedWatch_Connector::config"/>
    </menu>
</config>